<div class="login-container">
    <div class="form-container">
        <header class="login-header">
            <h1>Login</h1>
            <div class="criar-conta">
                <p>Não possui uma conta? </p><a routerLink="/criar-conta">Criar Conta</a>
            </div>
        </header>
        <form id="formLogin">
            <div class="input-user input-container">
                <label for="inputEmail">Email</label>
                <input type="email" placeholder="exemplo@email.com" id="inputEmail">
            </div>
            <div class="input-password input-container">
                <label for="inputPassword">Senha</label>
                <input type="password" id="inputPassword">
            </div>

            <button type="button" (click)="onLoginSubmit()" class="btn btn-primary">Entrar</button>
            <a href="/login" class="forgot-password">Esqueceu sua senha?</a>
        </form>
        <div class="user-terms-container">
            <p>Ao acessar, você concorda com nossos</p>
            <a href="" class="user-terms">termos de uso.</a>
        </div>
    </div>
    <div class="logo-container">
        <img src="/LogoLogin.png" alt="">
    </div>
</div>