<section id="contactSection">
    <div class="contact-container">
        <div class="contact-left">
            <header class="left-header">
                <h1 class="title">Vamos Nos Conectar!</h1>
                <p>
                    Estamos prontos para ajudar a sua marca a crescer! Preencha o formulário 
                    e nossa equipe entrará em contato para entender suas necessidades e criar 
                    soluções incríveis para o seu negócio.
                </p>
            </header>
            <div class="img-left">
                <img src="/img-left-contact.png">
            </div>
        </div>
        <div class="contact-right">
            <form id="formContact" action="https://formsubmit.co/henryfbense@gmail.com" method="POST">
                <div class="input-name input-container">
                    <label for="inputName">Nome Completo</label>
                    <input type="text" placeholder="e.g João Silva" id="inputName" name="nome" required>
                </div>
                <div class="input-email input-container">
                    <label for="inputEmail">Email</label>
                    <input type="email" placeholder="exemplo@email.com" id="inputEmail" name="email" required>
                </div>
                <div class="input-phone input-container">
                    <label for="inputPhone">Telefone</label>
                    <input type="text" placeholder="(__) __ _____-____" id="inputPhone" name="telefone" [(ngModel)]="telefone" mask="(00) 00000-0000" required>
                </div>
                <div class="input-message input-container">
                    <label for="inputMessage">Mensagem</label>
                    <textarea type="text" placeholder="" id="inputMessage" name="mensagem" required></textarea> 
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="http://localhost:4200/">
            </form>
        </div>
    </div>
</section>
