<div class="footer-container">
    <section class="contato-section">
        <div class="solicitar-orcamento">
            <p>Seu projeto merece uma abordagem criativa e estratégica. Conte com a WAVE para levar sua marca ao próximo nível.</p>
            <a class="btn btn-outline" routerLink="/contato">Solicite um Orçamento</a>
        </div>
        <h3>Transformando ideias em soluções visuais</h3>
    </section>
    <section class="footer-itens">
        <img class="logo-footer" src="/LogoFooter.png" alt="Logo Footer">
    </section>
</div>
