<div class="main-container">
    <section id="sectionOrcamento">
        <div class="orcamento-container">
            <div class="orcamento-text">
                <h2>Aqui, transformamos ideias em resultados.</h2>
                <p>Somos uma agência especializada em soluções criativas e estratégicas para fortalecer a presença digital da sua marca. Atuamos com foco em resultados, inovação e parceria para impulsionar o seu negócio.     
                </p>
                <a class="btn btn-outline" routerLink="/contato">Solicitar Orçamento</a>
            </div>
            <div class="phone">
                <img src="/phone.png" alt="">
            </div>
        </div>
    </section>

    <section id="sectionServices">
        <div class="services-container">
            <div class="service-container-left">
                <div class="service-image">
                    <img src="" alt="">
                </div>
                <div class="service-text">
                    <h1>Title</h1>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat blandit mauris sollicitudin consequat. Nunc quis congue purus. In sit amet congue erat, in tincidunt velit. </p>
                </div>
            </div>
            <div class="service-container-right">
                <div class="service-image">
                    <img src="" alt="">
                </div>
                <div class="service-text">
                    <h1>Title</h1>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat blandit mauris sollicitudin consequat. Nunc quis congue purus. In sit amet congue erat, in tincidunt velit. </p>
                </div>
            </div>
            <div class="service-container-left">
                <div class="service-image">
                    <img src="" alt="">
                </div>
                <div class="service-text">
                    <h1>Title</h1>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat blandit mauris sollicitudin consequat. Nunc quis congue purus. In sit amet congue erat, in tincidunt velit. </p>
                </div>
            </div>
        </div>
    </section>
</div>
