<div class="main-container">
    <section id="sectionOrcamento">
        <div class="orcamento-container">
            <div class="orcamento-text">
                <div class="logo-orcamento">
                    <img src="./LogoLogin.png" alt="">
                </div>
                <p>Somos uma agência especializada em soluções criativas e estratégicas para fortalecer a presença
                    digital da sua marca. Atuamos com foco em resultados, inovação e parceria para impulsionar o seu
                    negócio.
                </p>
                <a class="btn btn-outline" routerLink="/contato">Solicitar Orçamento</a>
            </div>
        </div>
    </section>

    <section id="sectionServices">
        <div class="services-container">
            <div class="service-container-left">
                <div class="service-image">
                    <img src="./IDENTIDADE-VISUAL.jpg" alt="">
                </div>
                <div class="service-text">
                    <h1>Identidade Visual</h1>
                    <p>Desenvolvemos a identidade visual da sua marca, criando logotipos, paletas de cores e elementos
                        gráficos que comunicam a essência do seu negócio e atraem seu público-alvo. </p>
                </div>
            </div>
            <div class="service-container-right">
                <div class="service-image">
                    <img src="./GESTÃO-DE-REDES-SOCIAIS.png" alt="">
                </div>
                <div class="service-text">
                    <h1>Gestão de Redes Sociais</h1>
                    <p>Cuidamos da sua presença online, desde a criação de conteúdo estratégico e engajador até o
                        monitoramento e interação com seus seguidores, impulsionando o crescimento da sua marca nas
                        redes sociais. </p>
                </div>
            </div>
            <div class="service-container-left">
                <div class="service-image">
                    <img src="./MARKETING-DE-CONTEÚDO.png" alt="">
                </div>
                <div class="service-text">
                    <h1>Marketing de Conteúdo</h1>
                    <p>Produzimos conteúdo relevante e de valor para sua audiência, como posts de blog, artigos e
                        e-books, que atraem, informam e convertem seus potenciais clientes, fortalecendo sua autoridade
                        online. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="teamSection">
        <div class="team-section-header">
            <h1>Conheça Nossa Equipe</h1>
            <p>Cada membro traz consigo uma combinação única de habilidades, paixão e dedicação, essenciais para
                impulsionar nossa missão e alcançar nossos objetivos. Conheça os profissionais que tornam tudo isso
                possível.</p>
        </div>
        <div class="members">
            <div class="member-container">
                <div class="member-photo">
                    <img src="./Nathan.png" alt="">
                </div>
                <div class="member-info">
                    <h2>Nathan Faria</h2>
                    <div class="member-social">
                        <a href="https://www.instagram.com/nathanfariax/" target="_blank">
                            <ng-icon name="bootstrapInstagram"></ng-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/nathan-henrique-faria-8606b8234?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                            <ng-icon name="bootstrapLinkedin"></ng-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="member-container">
                <div class="member-photo">
                    <img src="./Elias.png" alt="">
                </div>
                <div class="member-info">
                    <h2>Elias Mateus</h2>
                    <div class="member-social">
                        <a href="https://www.instagram.com/eliasmatt_/" target="_blank">
                            <ng-icon name="bootstrapInstagram"></ng-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/elias-mateus-a907ba263?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                            <ng-icon name="bootstrapLinkedin"></ng-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="member-container">
                <div class="member-photo">
                    <img src="./Tales.png" alt="">
                </div>
                <div class="member-info">
                    <h2>Talles Rangel</h2>
                    <div class="member-social">
                        <a href="https://www.instagram.com/art.talles/" target="_blank">
                            <ng-icon name="bootstrapInstagram"></ng-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/tallesrangel" target="_blank">
                            <ng-icon name="bootstrapLinkedin"></ng-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>