@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter';
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 8px;
    font-size: 14pt;
    font-weight: 600;
    transition: 0.4s;
}

.btn-outline:hover {
    background-color: #fff;
    color: transparent; 
    color: #333;
    transition: 0.4s;
}



