<section id="container">
    <div class="container-header">
        <h1>Nossos Planos de Assinatura</h1>
        <p>Escolha o plano ideal para o seu negócio crescer com a gente.</p>
    </div>

    <section id="subscriptions">
        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-secondary">
                    <h1>Gratis</h1>
                </div>
                <h2>R$ 00</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
            </div>
        </div>

        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-primary">
                    <h1>Basico</h1>
                </div>
                <h2>R$ 25</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
            </div>
        </div>

        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-pink">
                    <h1>Pro</h1>
                </div>
                <h2>R$ 50</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
            </div>
        </div>
    </section>
</section>