<section id="container">
    <div class="container-header">
        <h1>Nossos Planos de Assinatura</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <section id="subscriptions">
        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-secondary">
                    <h1>Gratis</h1>
                </div>
                <h1>R$ 00</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
            </div>
        </div>

        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-primary">
                    <h1>Basico</h1>
                </div>
                <h1>R$ 25</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
            </div>
        </div>

        <div class="subscription-container">
            <div class="header">
                <div class="badge badge-pink">
                    <h1>Pro</h1>
                </div>
                <h1>R$ 50</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="list">
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
                <div class="list-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu aliquet velit.</p>
                </div>
            </div>
        </div>
    </section>
</section>