<nav>
    <img src="/Logo.png" alt="Logo Wave" class="logo">
    <div class="opcoes">
        <a routerLink="/" class="nav-item">Agência</a> 
        <a routerLink="/galeria" class="nav-item">Galeria</a> 
        <a routerLink="/contato" class="nav-item">Contato</a> 
    </div>
    <div class="user-menu">
        <img src="/UserAuthComponent.png" class="userIcon" (click)="toggleDropdown()">
        <ul class="list-dropdown" [style.display]="isDropdownVisible ? 'flex' : 'none'">
            <li class="list-item"><a routerLink="/login" class="btn btn-secondary">Login</a></li>
            <li class="list-item"><a routerLink="/criar-conta" class="btn btn-secondary">Criar Conta</a></li>
        </ul>
    </div>
    <div class="user-menu-mobile">
        <img src="./hamburger.png" (click)="toggleMobileNav()">
    </div>
</nav>
<div class="mobile-nav-container" [style.display]="isMobileNavVisible ? 'flex' : 'none'">
    <app-navbar-mobile (navItemClicked)="toggleMobileNav()">
    </app-navbar-mobile>
</div>
